<div class="clr-row">
  <div class="clr-col-12 clr-col-sm-9 clr-col-md-6">
    <div *ngFor="let month of months; let i = index">
      <table class="table table-noborder table-compact">
        <tr>
          <td class="left" (click)="previousMonth()">
            <button [hidden]="manyMonths()" class="btn btn-link btn-sm btn-icon">
              <clr-icon shape="rewind"></clr-icon>
            </button>
            <button [hidden]="i > 0 || !hasSource()"
                    (click)="return()"
                    type="button"
                    class="btn btn-icon btn-link">
              <clr-icon shape="undo"></clr-icon>
            </button>
          </td>
          <td class="left">
            <button class="btn btn-link btn-sm" disabled>
              {{month | monthFormat | date:'MMM yyyy':'':locale()}}
            </button>
          </td>
          <td class="left" (click)="nextMonth()">
            <button [hidden]="manyMonths()" class="btn btn-link btn-sm btn-icon">
              <clr-icon shape="fast-forward"></clr-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th class="left">{{'transaction_list.date' | translate}}</th>
          <th class="left">{{'transaction_list.category' | translate}}</th>
          <th class="left">{{'transaction_list.amount' | translate}}</th>
        </tr>
        <tr *ngFor="let transaction of filterTransactions(month)" routerLink="/transaction/{{transaction.id}}">
          <td class="left">{{transaction.created | createdFormat | date:'dd'}}</td>
          <td class="left">{{formatCategory(transaction) | translate}}</td>
          <td class="left">
            <span *ngIf="isIncome(transaction)">
              {{transaction.amountTo | number:'':locale()}}{{currencySymbol(transaction.accountIdTo)}}
            </span>
            <span *ngIf="isExpence(transaction)">
              {{transaction.amountFrom | number:'':locale()}}{{currencySymbol(transaction.accountIdFrom)}}
            </span>
            <span *ngIf="isTransfer(transaction)">
              {{transaction.amountFrom | number:'':locale()}}{{currencySymbol(transaction.accountIdFrom)}}
              =>
              {{transaction.amountTo | number:'':locale()}}{{currencySymbol(transaction.accountIdTo)}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
