<clr-main-container class="main-container">
  <clr-header>
    <div class="branding">
      <span class="title" routerLink="/">{{'main_menu.title' | translate}}</span>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <cds-icon shape="cog" [attr.badge]="isOnline ? 'success' : 'danger'" ></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/settings" clrDropdownItem>{{'common.settings' | translate}}</a>
          <span (click)="signout()" clrDropdownItem>{{'main_menu.exit' | translate}}</span>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a class="nav-link" routerLink="/transaction/new">
          {{'main_menu.add_transaction' | translate}}
        </a>
        <section class="nav-group">
          <label>{{'main_menu.transaction' | translate}}</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link" (click)="incomes()">
                {{'main_menu.incomes' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="expences()">
                {{'main_menu.expences' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="transfers()">
                {{'main_menu.transfers' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/transaction_template">
                {{'main_menu.templates' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/transaction_future">
                {{'main_menu.future' | translate}}
              </a>
            </li>
            <li>
              <a (click)="search()" class="nav-link">
                {{'main_menu.search' | translate}}
              </a>
            </li>
          </ul>
        </section>
        <section class="nav-group">
          <label>{{'main_menu.reports' | translate}}</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link" routerLink="/report/date">
                {{'main_menu.date_report' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/report/month">
                {{'main_menu.month_report' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/report/year">
                {{'main_menu.year_report' | translate}}
              </a>
            </li>
          </ul>
        </section>
        <section class="nav-group">
          <label>{{'main_menu.other' | translate}}</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link" routerLink="/account">
                {{'main_menu.account' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/category">
                {{'main_menu.category' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/sub_category">
                {{'main_menu.sub_category' | translate}}
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/family_member">
                {{'main_menu.family_member' | translate}}
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</clr-main-container>
