<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-6">
    <form>
      <section class="form-block">
        <label [hidden]="!isNewAccount()">{{'account_detail.add' | translate}}</label>
        <label [hidden]="isNewAccount()">{{'account_detail.edit' | translate}}</label>
        <div class="form-group">
          <label>{{'common.name' | translate}}</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="account.name"/>
        </div>
        <div class="form-group">
          <label>{{'account_detail.currency' | translate}}</label>
          <div class="select form-control">
            <select name="currencyId"
                    required
                    [(ngModel)]="account.currencyId"
                    [disabled]="!isNewAccount()">
              <option disabled>{{'account_detail.currency' | translate}}</option>
              <option selected *ngFor="let currency of currencies()" [ngValue]="currency.id">
                <span *ngIf="language() == 'RU'">{{currency.nameRu}}</span>
                <span *ngIf="language() == 'EN'">{{currency.nameEn}}</span>
                <span> ({{currency.symbol}})</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group-single" [hidden]="isNewAccount()">
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="isVisible" [(ngModel)]="account.isVisible"/>
            <label>{{'common.use_in_transactions' | translate}}</label>
          </clr-checkbox-wrapper>
        </div>
        <div class="form-group-single" [hidden]="isNewAccount()">
          <span>{{'common.amount' | translate}}: {{account.transactionAmount}}</span>
        </div>
      </section>
    </form>
    <div class="btn-group btn-primary">
      <button class="btn btn-primary btn-sm"
              (click)="update(account)"
              [disabled]="!isValidForm()">{{'common.save' | translate}}
      </button>
      <button class="btn btn-danger btn-sm"
              (click)="delete(account)"
              [hidden]="isNewAccount()"
              [disabled]="hasTransations()">{{'common.delete' | translate}}
      </button>
    </div>
  </div>
</div>
