<div>
  <alert></alert>
  <h4 [hidden]="!isNewAccount()">Добавление счета</h4>
  <h4 [hidden]="isNewAccount()">Редактирование счета</h4>
  <form #accountForm="ngForm">
    <section class="form-block">
      <div class="form-group">
        <label for="name"
               role="tooltip"
               class="tooltip tooltip-validation"
               [class.invalid]="name.invalid && (name.dirty || name.touched)">
          <input type="text"
                 id="name"
                 required
                 name="name"
                 [(ngModel)]="account.name"
                 #name="ngModel"
                 placeholder="Название">
        </label>
        <div class="select">
          <select name="currency"
                  [(ngModel)]="account.currencyId"
                  required
                  title="Валюта"
                  [disabled]="!isNewAccount()">
            <option disabled>Валюта</option>
            <option selected *ngFor="let currency of currencies()" [ngValue]="currency.id">
              {{currency.nameRu}} ({{currency.symbol}})
            </option>
          </select>
        </div>
        <clr-checkbox name="isVisible" [(ngModel)]="account.isVisible" [hidden]="isNewAccount()">
          Использовать в новых транзакциях
        </clr-checkbox>
      </div>
      <div [hidden]="isNewAccount()">
        <span>Транзакций: {{account.transactionAmount}}</span>
      </div>
    </section>
  </form>
  <button type="submit"
          class="btn btn-primary btn-sm"
          (click)="update(account)"
          [disabled]="!accountForm.form.valid || !hasCurrency()">Сохранить
  </button>
  <button type="submit"
          class="btn btn-danger btn-sm"
          (click)="delete(account)"
          [hidden]="isNewAccount()"
          [disabled]="hasTransations()">Удалить
  </button>
</div>
