<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-6">
    <form>
      <section class="form-block">
        <button type="button" class="btn btn-icon btn-link" routerLink="/transaction">
          <clr-icon shape="undo"></clr-icon>
        </button>
        <label [hidden]="!isNewTransaction()">
          {{'transaction_detail.add' | translate}}
        </label>
        <label [hidden]="isNewTransaction()">
          {{'transaction_detail.edit' | translate}}
        </label>
        <div class="form-group">
          <label>{{'common.date' | translate}}</label>
          <input name="date" type="date" [(ngModel)]="this.transaction.created">
        </div>
        <div class="form-group">
          <label>{{'transaction_detail.action' | translate}}</label>
          <div class="select form-control">
            <select name="type"
                    [(ngModel)]="type"
                    (ngModelChange)="onChangeTransactionType()"
                    [disabled]="!isNewTransaction()">
              <option *ngFor="let typeWithLabel of typesWithLabels" [value]="typeWithLabel.type">
                {{typeWithLabel.label | translate}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" [hidden]="isIncome()">
          <label>{{'transaction_detail.account_from' | translate}}</label>
          <div class="select form-control">
            <select name="accountIdFrom" [(ngModel)]="transaction.accountIdFrom">
              <option disabled>{{'transaction_detail.account' | translate}}</option>
              <option selected *ngFor="let account of accounts()"
                      [ngValue]="account.id"
                      [hidden]="account.id == transaction.accountIdTo">
                <span>{{account.name}}</span>
                <span> ({{currency(account)}})</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" [hidden]="isExpense()">
          <label>{{'transaction_detail.account_to' | translate}}</label>
          <div class="select form-control">
            <select name="accountIdTo" [(ngModel)]="transaction.accountIdTo">
              <option disabled>{{'transaction_detail.account' | translate}}</option>
              <option selected *ngFor="let account of accounts()"
                      [ngValue]="account.id"
                      [hidden]="account.id == transaction.accountIdFrom">
                <span>{{account.name}}</span>
                <span> ({{currency(account)}})</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" [hidden]="isIncome()">
          <label>{{'transaction_detail.amount_from' | translate}}</label>
          <input class="form-control"
                 type="number"
                 min="0"
                 pattern="\d*"
                 name="amount_from"
                 [(ngModel)]="transaction.amountFrom"/>
        </div>
        <div class="form-group" [hidden]="isExpense()">
          <label>{{'transaction_detail.amount_to' | translate}}</label>
          <input class="form-control"
                 type="number"
                 min="0"
                 pattern="\d*"
                 name="amount_to"
                 [(ngModel)]="transaction.amountTo"/>
        </div>
        <div class="form-group" [hidden]="isTransfer()">
          <label>{{'transaction_detail.category' | translate}}</label>
          <div class="select form-control">
            <select name="categoryId"
                    [(ngModel)]="transaction.categoryId"
                    (ngModelChange)="onChangeCategory()">
              <option disabled>{{'transaction_detail.category' | translate}}</option>
              <option selected *ngFor="let category of categories()" [ngValue]="category.id">
                <span>{{category.name}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" [hidden]="isTransfer()">
          <label>{{'transaction_detail.sub_category' | translate}}</label>
          <div class="select form-control">
            <select name="subCategoryId" [(ngModel)]="transaction.subCategoryId">
              <option disabled>{{'transaction_detail.sub_category' | translate}}</option>
              <option [ngValue]="0"></option>
              <option selected
                      *ngFor="let subCategory of subCategories()"
                      [ngValue]="subCategory.id">
                <span>{{subCategory.name}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" [hidden]="isTransfer()">
          <label>{{'transaction_detail.family_member' | translate}}</label>
          <div class="select form-control">
            <select name="familyMemberId" [(ngModel)]="transaction.familyMemberId">
              <option disabled>{{'transaction_detail.family_member' | translate}}</option>
              <option [ngValue]="0"></option>
              <option selected
                      *ngFor="let familyMember of familyMembers()"
                      [ngValue]="familyMember.id">
                <span>{{familyMember.name}}</span>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>{{'transaction_detail.comment' | translate}}</label>
          <input class="form-control" name="comment" [(ngModel)]="transaction.comment"/>
        </div>
      </section>
    </form>
    <button class="btn btn-primary btn-block"
            [classList]=""
            (click)="update(transaction)"
            [disabled]="!isValidForm()">{{'common.save' | translate}}
    </button>
    <button class="btn btn-danger btn-block"
            (click)="delete(transaction)"
            [hidden]="isNewTransaction()">{{'common.delete' | translate}}
    </button>
  </div>
</div>
