<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-6">
    <form>
      <section class="form-block">
        <button type="button" class="btn btn-icon btn-link" routerLink="/sub_category">
          <clr-icon shape="undo"></clr-icon>
        </button>
        <label [hidden]="!isNewSubCategory()">{{'sub_category_detail.add' | translate}}</label>
        <label [hidden]="isNewSubCategory()">{{'sub_category_detail.edit' | translate}}</label>
        <div class="form-group">
          <label>{{'common.name' | translate}}</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="subCategory.name"/>
        </div>
        <div class="form-group">
          <label>{{'sub_category_detail.category' | translate}}</label>
          <div class="select">
            <select name="category"
                    [(ngModel)]="subCategory.categoryId"
                    [disabled]="!isNewSubCategory()">
              <option disabled>{{'sub_category_detail.category' | translate}}</option>
              <option selected *ngFor="let category of categories()" [ngValue]="category.id">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group-single" [hidden]="isNewSubCategory()">
          <clr-checkbox-wrapper>
            <input type="checkbox"
                   clrCheckbox
                   name="isVisible"
                   [(ngModel)]="subCategory.isVisible"/>
            <label>{{'common.use_in_transactions' | translate}}</label>
          </clr-checkbox-wrapper>
        </div>
        <div class="form-group-single" [hidden]="isNewSubCategory()">
          <span>{{'common.amount' | translate}}: {{subCategory.transactionAmount}}</span>
        </div>
      </section>
    </form>
    <button type="submit"
            class="btn btn-primary btn-block"
            (click)="update(subCategory)"
            [disabled]="!isValidForm()">{{'common.save' | translate}}
    </button>
    <button type="submit"
            class="btn btn-danger btn-block"
            (click)="delete(subCategory)"
            [hidden]="isNewSubCategory()"
            [disabled]="hasTransations()">{{'common.delete' | translate}}
    </button>
  </div>
</div>
