<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-6">
    <form>
      <section class="form-block">
        <label [hidden]="!isNewSubCategory()">{{'sub_category_detail.add' | translate}}</label>
        <label [hidden]="isNewSubCategory()">{{'sub_category_detail.add' | translate}}</label>
        <div class="form-group">
          <label>{{'common.name' | translate}}</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="subCategory.name"/>
        </div>
        <div class="form-group">
          <label>{{'sub_category_detail.category' | translate}}</label>
          <div class="select">
            <select name="category"
                    [(ngModel)]="subCategory.categoryId"
                    [disabled]="!isNewSubCategory()">
              <option disabled>{{'sub_category_detail.category' | translate}}</option>
              <option selected *ngFor="let category of categories()" [ngValue]="category.id">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group-single" [hidden]="isNewSubCategory()">
          <clr-checkbox name="isVisible" [(ngModel)]="subCategory.isVisible">
            {{'common.use_in_transactions' | translate}}
          </clr-checkbox>
        </div>
        <div class="form-group-single" [hidden]="isNewSubCategory()">
          <span>{{'common.amount' | translate}}: {{subCategory.transactionAmount}}</span>
        </div>
      </section>
    </form>
    <div class="btn-group btn-primary">
      <button type="submit"
              class="btn btn-primary btn-sm"
              (click)="update(subCategory)"
              [disabled]="!isValidForm()">{{'common.save' | translate}}
      </button>
      <button type="submit"
              class="btn btn-danger btn-sm"
              (click)="delete(subCategory)"
              [hidden]="isNewSubCategory()"
              [disabled]="hasTransations()">{{'common.delete' | translate}}
      </button>
    </div>
  </div>
</div>
