<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-6">
    <form>
      <section class="form-block">
        <label [hidden]="!isNewCategory()">{{'category_detail.add' | translate}}</label>
        <label [hidden]="isNewCategory()">{{'category_detail.edit' | translate}}</label>
        <div class="form-group">
          <label>{{'common.name' | translate}}</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="category.name"/>
        </div>
        <div class="form-group">
          <label>{{'category_detail.type' | translate}}</label>
          <clr-checkbox-wrapper>
            <input type="checkbox"
                   clrCheckbox
                   name="incomeCheckbox"
                   [(ngModel)]="category.isIncome"
                   [disabled]="!isNewCategory()"/>
            <label>{{'common.income' | translate}}</label>
          </clr-checkbox-wrapper>
          <span> </span>
          <clr-checkbox-wrapper>
            <input type="checkbox"
                   clrCheckbox
                   name="expenseCheckbox"
                   [(ngModel)]="category.isExpense"
                   [disabled]="!isNewCategory()"/>
            <label>{{'common.expense' | translate}}</label>
          </clr-checkbox-wrapper>
        </div>
        <div class="form-group-single" [hidden]="isNewCategory()">
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox name="isVisible" [(ngModel)]="category.isVisible"/>
            <label>{{'common.use_in_transactions' | translate}}</label>
          </clr-checkbox-wrapper>
        </div>
        <div class="form-group-single" [hidden]="isNewCategory()">
          <span>{{'common.amount' | translate}}: {{category.transactionAmount}}</span>
        </div>
      </section>
    </form>
    <div class="btn-group btn-primary">
      <button class="btn btn-primary btn-sm"
              (click)="update(category)"
              [disabled]="!isValidForm()">{{'common.save' | translate}}
      </button>
      <button class="btn btn-danger btn-sm"
              (click)="delete(category)"
              [hidden]="isNewCategory()"
              [disabled]="hasTransations()">{{'common.delete' | translate}}
      </button>
    </div>
  </div>
</div>
