<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-6">
    <table class="table table-noborder table-compact">
      <tr>
        <th routerLink="/account/new">
          <span>Счет</span>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </th>
        <th>Баланс</th>
      </tr>
      <tr *ngFor="let account of accounts()" routerLink="/account/{{account.id}}">
        <td>{{account.name}}</td>
        <td>{{account.balance || 0}} {{currencySymbol(account.currencyId)}}</td>
      </tr>
    </table>
  </div>
</div>
