<div class="container-fluid" ng-controller="account">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-condense">
        <tr>
          <th>Счет</th>
          <th>Валюта</th>
          <th>Баланс</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <input class="form-control" type="text" ng-model="newAccount.name">
          </td>
          <td>
            <select class="input-sm form-control" ng-model="newAccount.currency"
                ng-options="currency as currency.symbol for currency in currencies track by currency.id">
            </select>
          </td>
          <td></td>
          <td>
            <span class="close" ng-click="saveAccount()">&plus;</span>
          </td>
        </tr>
        <tr ng-repeat="account in accounts | filter:{type:'!OUTER'} | orderBy:['-type', 'name']">
          <td>
            <input class="form-control" type="text" ng-model="account.name" ng-blur="updateAccount(account)">
          </td>
          <td>{{account.currency.symbol}}</td>
          <td>{{account.balance.toLocaleString()}}</td>
          <td>
            <span class="close" ng-click="deleteAccount(account)">
              &times;
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
