<div ng-controller="show-rubrics">
  <table>
    <tr>
      <th>Рубрика</th>
      <th>Доход?</th>
      <th>Транзакций</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <input ng-model="newRubric.name" type="text" maxlength="25" required form="add-rubric">
      </td>
      <td>
        <input ng-model="newRubric.isIncome" type="checkbox" form="add-rubric">
      </td>
      <td></td>
      <td>
        <button form="add-rubric">Добавить</button>
      </td>
    </tr>
    <tr ng-repeat="rubric in rubrics | orderBy:['isIncome','name']">
      <td>
        <input ng-model="rubric.name" type="text" size="25" ng-change="updateRubric(rubric)"
            ng-model-options="{debounce: 2000}">
      </td>
      <td>
        <input ng-model="rubric.isIncome" type="checkbox" disabled>
      </td>
      <td>{{rubric.amountTransactions}}</td>
      <td>
        <button ng-click="deleteRubric(rubric)" ng-disabled="rubric.hasTransactions">
          Удалить
        </button>
      </td>
    </tr>
  </table>
  <br>
  <form ng-submit="saveRubric({name:newRubric.name, isIncome:newRubric.isIncome})" id="add-rubric"></form>
  {{log}}
</div>
