<div ng-controller="show-rubrics">
  <h4>Рубрики</h4>
  <table>
    <tr>
      <th>Название</th>
      <th>Доход?</th>
      <th>Удалить</th>
    </tr>
    <tr ng-repeat="rubric in rubrics | orderBy:['isIncome','name']">
      <td>
        <input ng-model="rubric.name" type="text" size="25" ng-change="updateRubric(rubric)"
            ng-model-options="{debounce: 2000}">
      </td>
      <td>
        <input ng-model="rubric.isIncome" type="checkbox" disabled>
      </td>
      <td>
        <button ng-click="deleteRubric(rubric)" ng-disabled="rubric.hasTransactions">Удалить
        </button>
      </td>
    </tr>
  </table>
  <br>
  <form ng-submit="saveRubric({name:newRubric.name, isIncome:newRubric.isIncome})">
    Название:
    <input ng-model="newRubric.name" type="text" maxlength="25" required>

    Доход:
    <input ng-model="newRubric.isIncome" type="checkbox">
    <br>
    <button>Добавить</button>
  </form>
  {{log}}
</div>
