<div ng-controller="rubric">
  <table>
    <tr>
      <th>Рубрика</th>
      <th>Доход?</th>
      <th>Транзакций</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <input ng-model="newRubric.name" type="text" maxlength="25" required form="saveRubric">
      </td>
      <td>
        <input ng-model="newRubric.isIncome" type="checkbox" form="saveRubric">
      </td>
      <td></td>
      <td>
        <button form="saveRubric">Добавить</button>
      </td>
    </tr>
    <tr ng-repeat="rubric in rubrics | orderBy:['isIncome','name']">
      <td>
        <input ng-model="rubric.name" type="text" size="25" ng-blur="updateRubric(rubric)">
      </td>
      <td>
        <input ng-model="rubric.isIncome" type="checkbox" disabled>
      </td>
      <td>{{rubric.amountTransactions}}</td>
      <td>
        <button ng-click="deleteRubric(rubric)" ng-disabled="rubric.hasTransactions">
          Удалить
        </button>
      </td>
    </tr>
  </table>
  <br>
  <form ng-submit="saveRubric()" id="saveRubric"></form>
  <div ng-show="alert.show" class="{{alert.type}}">{{alert.msg}}</div>
</div>
