<div class="container-fluid" ng-controller="tag">
  <div class="row">
    <div class="col-md-4">
      <div class="{{alert.type}}" ng-show="alert.show">{{alert.msg}}</div>
      <table class="table table-condense">
        <tr>
          <th>Тэг</th>
          <th>Старый?</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <input class="form-control" type="text" ng-model="newTag.name">
          </td>
          <td>
          </td>
          <td>
            <span class="close" ng-click="saveTag()">&plus;</span>
          </td>
        </tr>
        <tr ng-repeat="tag in tags | orderBy:'name'">
          <td>
            <input class="form-control" type="text" ng-model="tag.name" ng-blur="updateTag(tag)">
          </td>
          <td>
            <input class="form-control" type="checkbox" ng-model="tag.isObsolete"
                ng-click="updateTag(tag)">
          </td>
          <td>
            <span class="close" ng-click="deleteTag(tag)">&times;</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
