<div class="container-fluid" ng-controller="transfer">
  <div class="btn-group btn-block">
    <button class="btn btn-default col-xs-3" ng-click="previousMonth()">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-default col-xs-6">
      <strong>{{yearMonth | date:"LLLL yyyy"}}</strong>
    </button>
    <button class="btn btn-default col-xs-3" ng-click="nextMonth()">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>

  <div class="{{alert.type}}" ng-show="alert.show">{{alert.msg}}</div>
  <table class="table table-condense">
    <tr>
      <th>Дата</th>
      <th>Списать со счета</th>
      <th>Пополнить счет</th>
      <th>Сумма списания</th>
      <th>Сумма пополнения</th>
      <th>Комментарий</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <input class="form-control" uib-datepicker-popup="d MMM yyyy" ng-model="newTransfer.dayRef"
            is-open="calendar.opened" ng-click="calendar.open()" readonly
            datepicker-options="calendar.options" show-button-bar="false"/>
      </td>
      <td>
        <select class="form-control" ng-model="newTransfer.accountFrom" ng-change="checkEquals()"
            ng-options="account as account.name for account in accounts | orderBy:'name' | filter:{type:'!OUTER'}
                  track by account.id">
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="newTransfer.accountTo" ng-change="checkEquals()"
            ng-options="account as account.name for account in accounts | orderBy:'name' | filter:{type:'!OUTER'}
                  track by account.id">
        </select>
      </td>
      <td>
        <input class="form-control" pattern="\d*" ng-model="newTransfer.amountFrom">
      </td>
      <td>
        <input class="form-control" pattern="\d*" ng-model="newTransfer.amountTo">
      </td>
      <td>
        <input class="form-control" ng-model="newTransfer.comment">
      </td>
      <td>
        <button class="btn btn-default" ng-click="saveTransfer()">&plus;</button>
      </td>
    </tr>
    <tr ng-repeat="transfer in transfers | orderBy:'dayRef':true">
      <td>{{transfer.dayRef | date:"d MMM"}}</td>
      <td>{{transfer.accountFrom.name}}</td>
      <td>{{transfer.accountTo.name}}</td>
      <td>
        <input class="form-control" ng-model="transfer.amountFrom" pattern="\d*" ng-blur="updateTransfer(transfer)">
      </td>
      <td>
        <input class="form-control" ng-model="transfer.amountTo" pattern="\d*" ng-blur="updateTransfer(transfer)">
      </td>
      <td>
        <input class="form-control" ng-model="transfer.comment" ng-blur="updateTransfer(transfer)">
      </td>
      <td>
        <button class="btn btn-default" ng-click="deleteTransfer(transfer)">
          &times;
        </button>
      </td>
    </tr>
  </table>
</div>
