<div class="container-fluid" ng-controller="transaction">
  <div class="btn-group btn-block">
    <button class="btn btn-default col-xs-3" ng-click="previousMonth()">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-default col-xs-6">
      <strong>{{yearMonth | date:"LLLL yyyy"}}</strong>
    </button>
    <button class="btn btn-default col-xs-3" ng-click="nextMonth()">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>

  <div class="hidden-xs">
    <table class="table table-bordered table-striped table-condense">
      <thead>
      <tr>
        <th></th>
        <th ng-repeat="date in transactions.dates">{{date | date:"d"}}</th>
        <th>Итого</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rubric in transactions.rubrics | orderBy:['-isIncome', 'name']">
        <td class="small">{{rubric.name}}</td>
        <td class="small"
            ng-repeat="date in transactions.dates"
            ng-click="showRubricDateTransactions(rubric, date)"
            data-toggle="modal"
            data-target="#desktop-transaction-editor">
          {{findRubricDaySummary(rubric, date)}}
        </td>
        <td class="small">{{findRubricSummary(rubric)}}</td>
      </tr>
      <tr>
        <th class="small">Расходы</th>
        <td class="small" ng-repeat="date in transactions.dates">
          {{findDaySummary(date)}}
        </td>
        <td class="small">{{transactions.monthSummary}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="desktop-transaction-editor" class="modal fade" tabindex="-1" role="dialog" ng-show="editTransactions.length > 0">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <table class="table table-bordered table-condense">
          <tr>
            <th>Пользователь</th>
            <th>Тэг</th>
            <th>Сумма</th>
            <th>Комментарий</th>
            <th></th>
          </tr>
          <tr ng-repeat="t in editTransactions | orderBy:'id':true">
            <td>
              <select class="form-control" ng-model="t.user" ng-change="updateTransaction(t)"
                  ng-options="user as user.name for user in users | orderBy:'name' track by user.id">
                <option></option>
              </select>
            </td>
            <td>
              <select class="form-control" ng-model="t.tag" ng-change="updateTransaction(t)"
                  ng-options="tag as tag.name for tag in tags | orderBy:'name' track by tag.id">
                <option></option>
              </select>
            </td>
            <td>
              <input class="form-control" ng-model="t.amountFrom" pattern="\d*" ng-blur="updateTransaction(t)">
            </td>
            <td>
              <input class="form-control" ng-model="t.comment" ng-blur="updateTransaction(t)">
            </td>
            <td>
              <span class="close" ng-click="deleteTransaction(t)">&times;</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <div ng-show="alert.show" class="text-center {{alert.type}}">{{alert.msg}}</div>
      </div>
    </div>
  </div>

  <div class="visible-xs">
    <table class="table table-bordered table-striped table-condense">
      <thead>
      <tr>
        <th>Дата</th>
        <th>Рубрика</th>
        <th>Сумма</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="cell in transactions.rubricDaySummary | orderBy:['-date','rubric.name']"
          ng-click="showRubricDateTransactions(cell.rubric, cell.date)"
          data-toggle="modal"
          data-target="#mobile-transaction-editor">
        <td>{{cell.date | date:"dd MMM"}}</td>
        <td>{{cell.rubric.name}}</td>
        <td>{{cell.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="mobile-transaction-editor" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div ng-show="alert.show" class="text-center {{alert.type}}">{{alert.msg}}</div>
          <div ng-repeat="t in editTransactions | orderBy:'id':true">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="small control-label col-xs-5">Пользователь</label>
                <div class="col-xs-7">
                  <select class="input-sm form-control" ng-model="t.user" ng-change="updateTransaction(t)"
                      ng-options="user as user.name for user in users | orderBy:'name' track by user.id">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="small control-label col-xs-5">Тэг</label>
                <div class="col-xs-7">
                  <select class="input-sm form-control" ng-model="t.tag" ng-change="updateTransaction(t)"
                      ng-options="tag as tag.name for tag in tags | orderBy:'name' track by tag.id">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="small control-label col-xs-5">Сумма</label>
                <div class="col-xs-7">
                  <input class="form-control input-sm" ng-model="t.amountFrom" pattern="\d*"
                      ng-blur="updateTransaction(t)">
                </div>
              </div>
              <div class="form-group">
                <label class="small control-label col-xs-5">Комментарий</label>
                <div class="col-xs-7">
                  <input class="form-control input-sm" ng-model="t.comment" ng-blur="updateTransaction(t)">
                </div>
              </div>
              <button type="button" class="btn btn-danger form-control" ng-click="deleteTransaction(t)">
                <span class="small">Удалить</span>
              </button>
            </form>
            <br>
          </div>
          <button type="button" class="btn btn-primary form-control" data-dismiss="modal">
            <span class="small">Закрыть</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
