<div ng-controller="saveTransaction">
  <table>
    <tr>
      <td>Дата:</td>
      <td>
        <input ng-model="newTransaction.dayRef" type="text" placeholder="2016-01-31" required form="saveTransaction">
      </td>
    </tr>
    <tr>
      <td>
        Доход
        <input type="radio" ng-model="type" value="income" ng-click='changeType(type)' form="saveTransaction">
      </td>
      <td>
        Расход
        <input type="radio" ng-model="type" value="expense" ng-click='changeType(type)' form="saveTransaction">
      </td>
    </tr>
    <tr>
      <td>Рубрика:</td>
      <td>
        <select ng-model="newTransaction.rubric" size="1" required form="saveTransaction"
            ng-options="rubric as rubric.name for rubric in rubrics | orderBy:'name' track by rubric.id">
        </select>
      </td>
    </tr>
    <tr>
      <td>Пользователь:</td>
      <td>
        <select ng-model="newTransaction.user" size="1" form="saveTransaction"
            ng-options="user as user.name for user in users | orderBy:'name' track by user.id">
        </select>
      </td>
    </tr>
    <tr>
      <td>Тэг:</td>
      <td>
        <select ng-model="newTransaction.tag" size="1" form="saveTransaction"
            ng-options="tag as tag.name for tag in tags | orderBy:'name' track by tag.id">
        </select>
      </td>
    </tr>
    <tr>
      <td>Сумма:</td>
      <td>
        <input ng-model="newTransaction.amountFrom" type="number" min="1" required form="saveTransaction">
      </td>
    </tr>
    <tr>
      <td>Комментарий:</td>
      <td>
        <input ng-model="newTransaction.comment" type="text" size="25" form="saveTransaction">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Добавить транзакцию" form="saveTransaction">
      </td>
    </tr>
  </table>
  <form ng-submit="saveTransaction()" id="saveTransaction"></form>
  <div>{{log}}</div>
</div>
