<div class="container-fluid" ng-controller="transaction-by-month-tag">
  <div class="btn-group btn-block">
    <button class="btn btn-default col-lg-3" ng-click="previousYear()">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-default col-lg-6 disabled">
      <strong>{{transactions.year}}</strong>
    </button>
    <button class="btn btn-default col-lg-3" ng-click="nextYear()">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condense" ng-show="transactions.tags.length > 0">
      <thead>
      <tr>
        <th>Рубрика</th>
        <th>Тэг</th>
        <th ng-repeat="startOfMonth in transactions.startOfMonths">{{startOfMonth | date:"LLLL"}}
        </th>
        <th>Итого</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="tag in transactions.tags | orderBy:['rubric.name', 'name']">
        <td>{{tag.rubric.name}}</td>
        <td>{{tag.name}}</td>
        <td ng-repeat="startOfMonth in transactions.startOfMonths">
          {{findMonthTagSummary(startOfMonth, tag)}}
        </td>
        <td>{{findTagSummary(tag)}}</td>
      </tr>
      <tr>
        <th colspan="2">
          <strong>Расходы</strong>
        </th>
        <td ng-repeat="startOfMonth in transactions.startOfMonths">
          <strong>{{findMonthSummary(startOfMonth)}}</strong>
        </td>
        <td>
          <strong>{{transactions.yearSummary.toLocaleString()}}</strong>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
