<div ng-controller="transaction">
  <button ng-click="previousMonth()">Предыдущий месяц</button>
  <button ng-click="nextMonth()">Следующий месяц</button>
  <br><br>
  <table>
    <tr>
      <th>{{transactions.yearMonth | date:"MMM yyyy"}}</th>
      <th ng-repeat="date in transactions.dates">{{date | date:"d"}}</th>
      <th>Итого</th>
    </tr>
    <tr ng-repeat="rubric in transactions.rubrics | filter:filterIncomeRubrics | orderBy:'name'">
      <td>{{rubric.name}}</td>
      <td ng-repeat="date in transactions.dates" ng-click="showRubricDateTransactions(rubric, date)">
        {{findRubricDaySummary(rubric, date)}}
      </td>
      <td>{{findRubricSummary(rubric)}}</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr ng-repeat="rubric in transactions.rubrics | filter:filterExpenceRubrics | orderBy:'name'">
      <td>{{rubric.name}}</td>
      <td ng-repeat="date in transactions.dates" ng-click="showRubricDateTransactions(rubric, date)">
        {{findRubricDaySummary(rubric, date)}}
      </td>
      <td>{{findRubricSummary(rubric)}}</td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <th>Расходы</th>
      <td ng-repeat="date in transactions.dates">
        {{findDaySummary(date)}}
      </td>
      <td>{{transactions.monthSummary}}</td>
    </tr>
  </table>
  <br/>
  <table ng-show="editTransactions.length > 0">
    <tr>
      <th>Пользователь</th>
      <th>Тэг</th>
      <th>Сумма</th>
      <th>Комментарий</th>
      <th></th>
    </tr>
    <tr ng-repeat="t in editTransactions | orderBy:'id':true">
      <td>
        <select ng-model="t.user" ng-change="updateTransaction(t)"
            ng-options="user as user.name for user in users track by user.id">
          <option></option>
        </select>
      </td>
      <td>
        <select ng-model="t.tag" ng-change="updateTransaction(t)"
            ng-options="tag as tag.name for tag in tags track by tag.id">
          <option></option>
        </select>
      </td>
      <td>
        <input ng-model="t.amountFrom" type="number" min="1" required ng-blur="updateTransaction(t)">
      </td>
      <td>
        <input ng-model="t.comment" type="text" size="25" ng-blur="updateTransaction(t)">
      </td>
      <td>
        <button ng-click="deleteTransaction(t)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </table>
  <div ng-show="alert.show" class="{{alert.type}}">{{alert.msg}}</div>
</div>
