<div class="container-fluid" ng-controller="transaction-by-year-rubric">
  <div class="btn-group btn-block">
    <button class="btn btn-default col-xs-3">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-default col-xs-6">
      <strong>{{transactions.year}}</strong>
    </button>
    <button class="btn btn-default col-xs-3">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condense" ng-show="transactions.rubrics.length > 0">
      <thead>
      <tr>
        <th></th>
        <th ng-repeat="startOfYear in transactions.startOfYears">{{startOfYear | date:"yyyy"}}
        </th>
        <th>Итого</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rubric in transactions.rubrics | orderBy:['-isIncome', 'name']">
        <td class="small">{{rubric.name}}</td>
        <td class="small" ng-repeat="startOfYear in transactions.startOfYears">
          {{findYearRubricSummary(startOfYear, rubric)}}
        </td>
        <td class="small">
          {{findRubricSummary(rubric)}}
        </td>
      </tr>
      <tr>
        <th class="small">Расходы</th>
        <td class="small" ng-repeat="startOfYear in transactions.startOfYears">
          {{findYearSummary(startOfYear)}}
        </td>
        <td class="small">{{transactions.yearsSummary}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
