<div class="container-fluid" ng-controller="transfer">
  <div class="btn-group btn-block">
    <button class="btn btn-default col-xs-3" ng-click="previousMonth()">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-default col-xs-6">
      <strong>{{yearMonth | date:"LLLL yyyy"}}</strong>
    </button>
    <button class="btn btn-default col-xs-3" ng-click="nextMonth()">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>

  <div ng-show="transfers.length > 0">
    <div ng-repeat="transfer in transfers | orderBy:'dayRef':true">
      <table class="table table-condense">
        <tr>
          <td>Дата</td>
          <td>{{transfer.dayRef | date:"d MMM"}}</td>
        </tr>
        <tr>
          <td>Списать со счета</td>
          <td>{{transfer.accountFrom.name}}</td>
        </tr>
        <tr>
          <td>Пополнить счет</td>
          <td>{{transfer.accountTo.name}}</td>
        </tr>
        <tr>
          <td>Сумма списания</td>
          <td>
            <input class="form-control" type="number" pattern="\d*" ng-model="transfer.amountFrom"
                ng-blur="updateTransfer(transfer)">
          </td>
        </tr>
        <tr>
          <td>Сумма пополнения</td>
          <td>
            <input class="form-control" type="number" pattern="\d*" ng-model="transfer.amountTo"
                ng-blur="updateTransfer(transfer)">
          </td>
        </tr>
        <tr>
          <td>Комментарий</td>
          <td>
            <input class="form-control" type="text" ng-model="transfer.comment" ng-blur="updateTransfer(transfer)">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-danger form-control" ng-click="deleteTransfer(transfer)">
              Удалить
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
