<div class="container-fluid" ng-controller="transaction-by-month-rubric">
  <div class="btn-group btn-block">
    <button class="btn btn-default col-lg-3" ng-click="previousYear()">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button class="btn btn-default col-lg-6 disabled">
      <strong>{{transactions.year}}</strong>
    </button>
    <button class="btn btn-default col-lg-3" ng-click="nextYear()">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-condense" ng-show="transactions.rubrics.length > 0">
      <thead>
      <tr>
        <th></th>
        <th ng-repeat="startOfMonth in transactions.startOfMonths">{{startOfMonth | date:"LLLL"}}
        </th>
        <th>Итого</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rubric in transactions.rubrics | orderBy:['-isIncome', 'name']">
        <td>{{rubric.name}}</td>
        <td ng-repeat="startOfMonth in transactions.startOfMonths">
          {{findMonthRubricSummary(startOfMonth, rubric)}}
        </td>
        <td>
          {{findRubricSummary(rubric)}}
        </td>
      </tr>
      <tr>
        <td>
          <strong>Расходы</strong>
        </td>
        <td ng-repeat="startOfMonth in transactions.startOfMonths">
          <strong>{{findMonthSummary(startOfMonth)}}</strong>
        </td>
        <td>
          <strong>{{transactions.yearSummary}}</strong>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
