<div ng-controller="saveTransaction" class="container-fluid">
  <form class="form-horizontal" ng-submit="saveTransaction()">
    <div class="form-group">
      <div class="col-xs-12 col-md-3 {{alert.type}}" ng-show="alert.show">{{alert.msg}}</div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-md-1" for="transactionAddDate">Дата</label>
      <div class="col-xs-8 col-md-2">
        <input id="transactionAddDate"
            class="form-control"
            uib-datepicker-popup="d MMM yyyy"
            ng-model="newTransaction.dayRef"
            is-open="calendar.opened"
            ng-click="calendar.open()"
            readonly
            required
            datepicker-options="calendar.options"
            show-button-bar="false">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-md-1" for="transactionAddAmount">Сумма</label>
      <div class="col-xs-8 col-md-2">
        <input id="transactionAddAmount"
            class="form-control"
            ng-model="newTransaction.amountFrom"
            type="number"
            min="1"
            required>
      </div>
    </div>
    <div class="col-xs-6 col-md-1">
      <label class="radio control-label">
        <input type="radio" ng-model="type" value="income" ng-click='changeType(type)'>
        Доход
      </label>
    </div>
    <div class="col-xs-6 col-md-1">
      <label class="radio control-label">
        <input type="radio" ng-model="type" value="expense" ng-click='changeType(type)'>
        Расход
      </label>
    </div>
    <br><br>
    <div class="form-group">
      <label class="control-label col-xs-4 col-md-1">Рубрика</label>
      <div class="col-xs-8 col-md-2">
        <select ng-model="newTransaction.rubric" size="1" required class="form-control"
            ng-options="rubric as rubric.name for rubric in rubrics | orderBy:'name' track by rubric.id">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-md-1">Пользователь</label>
      <div class="col-xs-8 col-md-2">
        <select class="form-control" ng-model="newTransaction.user" size="1"
            ng-options="user as user.name for user in users | orderBy:'name' track by user.id">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-md-1">Тэг</label>
      <div class="col-xs-8 col-md-2">
        <select class="form-control" ng-model="newTransaction.tag" size="1"
            ng-options="tag as tag.name for tag in tags | orderBy:'name' track by tag.id">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-md-1" for="transactionAddComment">Комментарий</label>
      <div class="col-xs-8 col-md-2">
        <input id="transactionAddComment"
            class="form-control"
            ng-model="newTransaction.comment"
            type="text"
            size="25">
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <button class="btn btn-default form-control">Сохранить</button>
    </div>
  </form>
</div>
