<div ng-controller="user">
  <table>
    <tr>
      <th>Пользователь</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <input ng-model="newUser.name" type="text" maxlength="25" required form="saveUser">
      </td>
      <td>
        <button form="saveUser">
          <span class="glyphicon glyphicon-floppy-save"></span>
        </button>
      </td>
    </tr>
    <tr ng-repeat="user in users | orderBy:'name'">
      <td>
        <input ng-model="user.name" type="text" size="25" ng-blur="updateUser(user)">
      </td>
      <td>
        <button ng-click="deleteUser(user)" ng-disabled="user.hasTransactions">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </table>
  <br>
  <form ng-submit="saveUser()" id="saveUser"></form>
  <div ng-show="alert.show" class="{{alert.type}}">{{alert.msg}}</div>
</div>
