<div class="container-fluid" ng-controller="user">
  <div class="row">
    <div class="col-md-4">
      <div class="{{alert.type}}" ng-show="alert.show">{{alert.msg}}</div>
      <table class="table table-condense">
        <tr>
          <th>Пользователь</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <input class="form-control" ng-model="newUser.name">
          </td>
          <td>
            <span class="close" ng-click="saveUser()">&plus;</span>
          </td>
        </tr>
        <tr ng-repeat="user in users | orderBy:'name'">
          <td>
            <input class="form-control" ng-model="user.name" ng-blur="updateUser(user)">
          </td>
          <td>
            <span class="close" ng-click="deleteUser(user)" ng-disabled="user.hasTransactions">
              &times;
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
