.form-group-single {
  margin-bottom: 1rem;
  font-size: 13px;
  color: black;
}

td, th {
  white-space: nowrap;
}

summary::before {
  content: "► ";
}

details[open] summary:before {
  content: "▼ ";
}

/* for separate nav and content scrolling */
.content-container {
  height: 98%;
}

.content-sidenav {
  background-color: #F2F2F2;
  float: left;
  height: 100%;
  overflow-y: auto;
}

.content-area {
  float: left;
  height: 100%;
  overflow-y: auto;
}

/* sidenav */
.content-sidenav .clr-vertical-nav {
  background-color: transparent;
}

.content-sidenav .clr-vertical-nav .nav-group-text {
  font-weight: 600;
  height: 1.3rem;
}

.content-sidenav .clr-vertical-nav .nav-text {
  font-weight: normal;
  margin-left: 10px;
}

.content-sidenav .clr-vertical-nav .nav-group-text, .clr-vertical-nav .content-sidenav .nav-text {
  overflow: visible;
  flex-grow: 0;
}

.content-sidenav .clr-vertical-nav .nav-link {
  height: 1.3rem;
}

/* form top */
div.no-top, form.no-top, table.table, table .clr-form-control {
  margin-top: 0;
  padding-top: 0;
}
