<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-6">
    <table class="table table-noborder table-compact">
      <tr>
        <th routerLink="/category/new">
          <span>Категория </span>
          <clr-icon shape="plus-circle"></clr-icon>
        </th>
        <th></th>
      </tr>
      <tr *ngFor="let category of categories()" routerLink="/category/{{category.id}}">
        <td>{{category.name}}</td>
        <td [hidden]="!category.isIncome">Доход</td>
        <td [hidden]="category.isIncome">Расход</td>
      </tr>
    </table>
  </div>
</div>
