<div class="clr-row">
  <div class="clr-col-12 clr-col-sm-9 clr-col-md-6">
    <table class="table table-noborder table-compact">
      <tr>
        <th class="left" routerLink="/sub_category/new">
          <span>{{'common.sub_category' | translate}} </span>
          <clr-icon shape="plus-circle"></clr-icon>
        </th>
        <th>
          <select clrSelect name="category" [(ngModel)]="filterCategoryId">
            <option [ngValue]="undefined" selected>
              {{'common.category' | translate}}
            </option>
            <option *ngFor="let category of categories()" [ngValue]="category.id">
              <span>{{category.name}}</span>
            </option>
          </select>
        </th>
      </tr>
      <tr *ngFor="let subCategory of subCategories()" routerLink="/sub_category/{{subCategory.id}}">
        <td class="left">{{subCategory.name}}</td>
        <td class="left">{{findCategory(subCategory.categoryId).name}}</td>
      </tr>
    </table>
  </div>
</div>
