<div class="clr-row clr-col-12 clr-col-lg-6">
  <form class="clr-form">
    <div class="clr-form-control clr-row">
      <label>{{'common.settings' | translate}}</label>
    </div>
    <div class="clr-form-control clr-row">
      <label>
        <a routerLink="/access_link/create_link">{{'common.access_link' | translate}}</a>
      </label>
    </div>
    <div class="clr-form-control clr-row" [hidden]="this.isReadOnly()">
      <label>
        <a [href]="exportDataUrl" download="export.json">{{'settings.export_data' | translate}}</a>
      </label>
    </div>
    <div class="clr-form-control clr-row">
      <label>{{'settings.language' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-select-wrapper">
          <select name="language" class="clr-select" required [(ngModel)]="settings.language">
            <option selected *ngFor="let language of languages" [ngValue]="language.code">
              {{language.value}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row">
      <label>{{'settings.currency' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-select-wrapper">
          <select class="clr-select" name="currency" required [(ngModel)]="settings.currencyId">
            <option selected *ngFor="let currency of currencies()" [ngValue]="currency.id">
              <span *ngIf="language() == 'RU'">{{currency.nameRu}} ({{currency.symbol}})</span>
              <span *ngIf="language() == 'EN'">{{currency.nameEn}} ({{currency.symbol}})</span>
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row">
      <div class="clr-control-container">
        <div class="clr-checkbox-wrapper">
          <input type="checkbox"
                 id="transaction-off-budget"
                 name="noOffBudget"
                 class="clr-checkbox"
                 [(ngModel)]="settings.noOffBudget"/>
          <label for="transaction-off-budget">
            {{'settings.no_off_budget' | translate}}
          </label>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row">
      <button class="btn btn-primary btn-sm btn-block"
              (click)="updateSettings()"
              [disabled]="this.isReadOnly()">
        {{'common.save' | translate}}
      </button>
    </div>
  </form>
</div>
