<div class="clr-row clr-col-12 clr-col-lg-6">
  <form class="clr-form">
    <div class="clr-form-control clr-row no-top">
      <label>
        <span [hidden]="!(notepad | isNewEntity)">
          {{'notepad.add' | translate}}
        </span>
        <span [hidden]="notepad | isNewEntity">
          {{'notepad.edit' | translate}}
        </span>
      </label>
    </div>
    <div class="clr-form-control clr-row">
      <label>{{'common.name' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" name="name" class="clr-input" [(ngModel)]="notepad.name"/>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row" [hidden]="notepad | isNewEntity">
      <label>{{'notepad.amount' | translate}}: {{notepad.noteAmount}}</label>
    </div>
    <action-buttons [disabledSaveButton]="!isValidForm() || ('' | isReadOnly)"
                    (saveNotifier)="update(notepad)"
                    [hiddenDeleteButton]="notepad | isNewEntity"
                    [disabledDeleteButton]="hasNotes() || ('' | isReadOnly)"
                    (deleteNotifier)="delete(notepad)">
    </action-buttons>
  </form>
</div>
