<clr-vertical-nav [clr-nav-level]="2" [clrVerticalNavCollapsible]="false">
  <label class="nav-group-text">{{'finance_sidenav.add_transaction' | translate}}</label>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink routerLink="/transaction/new">
      <span class="nav-text">
        {{'finance_sidenav.add_transaction_with_account' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/security_transaction/new">
      <span class="nav-text">
        {{'finance_sidenav.add_transaction_with_security' | translate}}
      </span>
    </a>
  </clr-vertical-nav-group-children>
  <div class="nav-divider"></div>
  <span class="nav-group-text">{{'finance_sidenav.transaction' | translate}}</span>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink (click)="incomes()">
      <span class="nav-text">
        {{'finance_sidenav.incomes' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink (click)="expences()">
      <span class="nav-text">
        {{'finance_sidenav.expences' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink (click)="transfers()">
      <span class="nav-text">
        {{'finance_sidenav.transfers' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/transaction_template">
      <span class="nav-text">
        {{'finance_sidenav.templates' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/transaction_future">
      <span class="nav-text">
        {{'finance_sidenav.future' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink (click)="search()">
      <span class="nav-text">
        {{'finance_sidenav.search' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/security_transaction">
      <span class="nav-text">
        {{'finance_sidenav.investment' | translate}}
      </span>
    </a>
  </clr-vertical-nav-group-children>
  <div class="nav-divider"></div>
  <span class="nav-group-text">{{'finance_sidenav.reports' | translate}}</span>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink routerLink="/report/date">
      <span class="nav-text">
        {{'finance_sidenav.date_report' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/report/month">
      <span class="nav-text">
        {{'finance_sidenav.month_report' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/report/year">
      <span class="nav-text">
        {{'finance_sidenav.year_report' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/report/security">
      <span class="nav-text">
        {{'finance_sidenav.security_report' | translate}}
      </span>
    </a>
  </clr-vertical-nav-group-children>
  <div class="nav-divider"></div>
  <span class="nav-group-text">{{'finance_sidenav.other' | translate}}</span>
  <clr-vertical-nav-group-children>
    <a clrVerticalNavLink routerLink="/account">
      <span class="nav-text">
        {{'finance_sidenav.account' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/category">
      <span class="nav-text">
        {{'finance_sidenav.category' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/sub_category">
      <span class="nav-text">
        {{'finance_sidenav.sub_category' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/family_member">
      <span class="nav-text">
        {{'finance_sidenav.family_member' | translate}}
      </span>
    </a>
    <a clrVerticalNavLink routerLink="/security">
      <span class="nav-text">
        {{'finance_sidenav.security' | translate}}
      </span>
    </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav>
