<div class="clr-row" *ngIf="('' | locale) as locale">
  <div class="clr-col-12 clr-col-sm-8 clr-col-md-6">
    <table class="table table-noborder table-compact">
      <tr>
        <th class="left" routerLink="/security/new">
          <span>{{'common.security' | translate}} </span>
          <cds-icon shape="plus-circle"></cds-icon>
        </th>
        <th class="left">{{'common.price' | translate}}</th>
        <th class="left">{{'security.amount' | translate}}</th>
        <th class="left">{{'security.cost' | translate}}</th>
      </tr>
      <tr *ngFor="let security of securities()" routerLink="/security/{{security.id}}">
        <td class="left">{{security.name}}</td>
        <td class="left">{{security.price | encodeMoney | number:'':locale}}{{security | currencySymbol}}</td>
        <td class="left">{{security.amount}}</td>
        <td class="left">{{cost(security)}}{{'' | currencySymbol}}</td>
      </tr>
    </table>
  </div>
</div>
