<clr-vertical-nav [clr-nav-level]="2" [clrVerticalNavCollapsible]="false">
  <div class="nav-group-text">
    <a class="notepad-link" [ngStyle]="{'text-decoration': showNotepads() ? 'underline' : 'none'}"
       (click)="clearState()">
      {{'notepad_sidenav.notepads' | translate}}
    </a>
    <span *ngIf="showNotes()">&nbsp;/&nbsp;</span>
    <a *ngIf="showNotes()"
       class="notepad-link"
       routerLink="/notepad/{{currentNotepad().id}}">
      {{currentNotepad().name}}
    </a>
    <span>&nbsp;</span>
    <a [routerLink]="[showNotepads() ? '/notepad' : '/note', 'new']">
      <clr-tooltip>
        <cds-icon clrTooltipTrigger shape="plus-circle"></cds-icon>
        <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
          <span *ngIf="showNotepads()">
            {{'notepad_sidenav.add_notepad' | translate}}
          </span>
          <span *ngIf="showNotes()">
            {{'notepad_sidenav.add_note' | translate}}
          </span>
        </clr-tooltip-content>
      </clr-tooltip>
    </a>
  </div>
  <clr-vertical-nav-group-children *ngIf="showNotepads()">
    <a *ngFor="let notepad of notepads()"
       class="notepad-link notepad-sidenav-item"
       (click)="updateCurrentNotepadId(notepad)">
      <span class="nav-text">
        {{notepad.name}}
      </span>
    </a>
  </clr-vertical-nav-group-children>
  <div *ngIf="showNotes()">
    <div *ngIf="pinnedNotes()">
      <clr-vertical-nav-group-children>
        <a *ngFor="let note of pinnedNotes()"
           clrVerticalNavLink
           routerLink="/note/{{note.id}}"
           routerLinkActive="active">
          <span>{{note.name}}</span>
        </a>
      </clr-vertical-nav-group-children>
      <div class="nav-divider"></div>
    </div>
    <clr-vertical-nav-group-children>
      <a *ngFor="let note of otherNotes()"
         clrVerticalNavLink
         routerLink="/note/{{note.id}}"
         routerLinkActive="active">
        <span>{{note.name}}</span>
      </a>
    </clr-vertical-nav-group-children>
  </div>
  <div *ngIf="archivedNotes().length > 0">
    <div class="nav-divider"></div>
    <span class="nav-group-text">{{'notepad_sidenav.archived_notes' | translate}}</span>
    <clr-vertical-nav-group-children>
      <a *ngFor="let note of archivedNotes()"
         clrVerticalNavLink
         routerLink="/note/{{note.id}}"
         routerLinkActive="active">
        <span>{{note.name}}</span>
      </a>
    </clr-vertical-nav-group-children>
  </div>
</clr-vertical-nav>
