<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-6">
    <form>
      <section class="form-block">
        <button type="button" class="btn btn-icon btn-link" routerLink="/family_member">
          <clr-icon shape="undo"></clr-icon>
        </button>
        <label [hidden]="!isNewFamilyMember()">{{'family_member_detail.add' | translate}}</label>
        <label [hidden]="isNewFamilyMember()">{{'family_member_detail.edit' | translate}}</label>
        <div class="form-group">
          <label>{{'common.name' | translate}}</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="familyMember.name"/>
        </div>
        <div class="form-group-single" [hidden]="isNewFamilyMember()">
          <clr-checkbox-wrapper>
            <input type="checkbox"
                   clrCheckbox
                   name="isVisible"
                   [(ngModel)]="familyMember.isVisible"/>
            <label>{{'common.use_in_transactions' | translate}}</label>
          </clr-checkbox-wrapper>
        </div>
        <div class="form-group-single" [hidden]="isNewFamilyMember()">
          <span>{{'common.amount' | translate}}: {{familyMember.transactionAmount}}</span>
        </div>
      </section>
    </form>
    <button class="btn btn-primary btn-block"
            (click)="update(familyMember)"
            [disabled]="!isValidForm()">{{'common.save' | translate}}
    </button>
    <button class="btn btn-danger btn-block"
            (click)="delete(familyMember)"
            [hidden]="isNewFamilyMember()"
            [disabled]="hasTransations()">{{'common.delete' | translate}}
    </button>
  </div>
</div>
