<div class="clr-row clr-col-12 clr-col-lg-6">
  <form class="clr-form">
    <div class="clr-form-control clr-row no-top">
      <label>
        <button type="button" class="btn btn-icon btn-link" routerLink="/family_member">
          <cds-icon shape="undo"></cds-icon>
        </button>
        <span [hidden]="!(familyMember | isNewEntity)">
          {{'family_member.add' | translate}}
        </span>
        <span [hidden]="familyMember | isNewEntity">
          {{'family_member.edit' | translate}}
        </span>
      </label>
    </div>
    <div class="clr-form-control clr-row no-top">
      <label>{{'common.name' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" name="name" class="clr-input" [(ngModel)]="familyMember.name"/>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row" [hidden]="familyMember | isNewEntity">
      <div class="clr-control-container">
        <div class="clr-checkbox-wrapper">
          <input type="checkbox"
                 id="family-member-is-visible"
                 name="isVisible"
                 class="clr-checkbox"
                 [(ngModel)]="familyMember.isVisible"/>
          <label for="family-member-is-visible">
            {{'common.use_in_transactions' | translate}}
          </label>
        </div>
      </div>
    </div>
    <div class="clr-form-control clr-row"
         [hidden]="familyMember | isNewEntity"
         (click)="viewTransactions(familyMember)">
      <label>
        {{'common.amount' | translate}}: {{familyMember.transactionAmount}}
      </label>
    </div>
    <div class="clr-form-control clr-row">
      <button class="btn btn-primary btn-sm btn-block"
              (click)="update(familyMember)"
              [disabled]="!isValidForm() || ('' | isReadOnly)">
        {{'common.save' | translate}}
      </button>
      <button class="btn btn-danger btn-sm btn-block"
              (click)="delete(familyMember)"
              [hidden]="familyMember | isNewEntity"
              [disabled]="hasTransations() || ('' | isReadOnly)">
        {{'common.delete' | translate}}
      </button>
    </div>
  </form>
</div>
