<div>
  <alert></alert>
  <form #familyMemberForm="ngForm">
    <section class="form-block">
      <div class="form-group">
        <label for="name"
               role="tooltip"
               class="tooltip tooltip-validation"
               [class.invalid]="name.invalid && (name.dirty || name.touched)">
          <input type="text"
                 id="name"
                 required
                 name="name"
                 [(ngModel)]="familyMember.name"
                 #name="ngModel"
                 placeholder="Имя">
        </label>
      </div>
    </section>
  </form>
  <button type="submit"
          class="btn btn-primary btn-sm"
          (click)="update(familyMember)"
          [disabled]="!familyMemberForm.form.valid">Сохранить
  </button>
  <button type="submit"
          class="btn btn-danger btn-sm"
          (click)="delete(familyMember)"
          [hidden]="isNewFamilyMember()"
          [disabled]="hasTransations()">Удалить
  </button>
</div>
