<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <import resource="classpath*:ru/fess38/finance/Dao.xml" />

  <bean id="abstractController" class="ru.fess38.finance.controller.AbstractController" abstract="true">
    <constructor-arg name="factory" ref="controllersFactory" />
    <property name="rubricDao" ref="rubricDao" />
    <property name="accountDao" ref="accountDao" />
    <property name="userDao" ref="userDao" />
    <property name="transactionGroupDao" ref="transactionGroupDao" />
    <property name="transactionDao" ref="transactionDao" />
    <property name="currencyDao" ref="currencyDao" />
  </bean>

  <bean id="mainWindow" class="ru.fess38.finance.controller.MainWindow" parent="abstractController" />

  <bean id="controllersFactory" class="ru.fess38.finance.controller.ControllersFactory" />

  <bean class="ru.fess38.finance.controller.TransactionAdder" parent="abstractController" />

  <bean class="ru.fess38.finance.controller.TransferAdder" parent="abstractController" />

  <bean class="ru.fess38.finance.controller.TransactionWindow" parent="abstractController" />

  <bean class="ru.fess38.finance.controller.TransactionWindow" parent="abstractController" />

  <bean class="ru.fess38.finance.controller.RubricController" parent="abstractController" />

  <bean class="ru.fess38.finance.controller.UserController" parent="abstractController" />

  <bean class="ru.fess38.finance.controller.TransactionGroupController" parent="abstractController" />
</beans>
