<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <import resource="classpath*:ru/fess38/finance/Dao.xml" />

  <bean id="abstractController" class="ru.fess38.finance.controller.AbstractController" abstract="true"
    init-method="init">
    <constructor-arg name="factory" ref="controllersFactory" />
    <property name="rubricDao" ref="rubricDao" />
    <property name="accountDao" ref="accountDao" />
    <property name="userDao" ref="userDao" />
    <property name="transactionGroupDao" ref="transactionGroupDao" />
    <property name="transactionDao" ref="transactionDao" />
    <property name="currencyDao" ref="currencyDao" />
  </bean>

  <bean id="controllersFactory" class="ru.fess38.finance.controller.ControllersFactory" />

  <bean id="mainWindow" class="ru.fess38.finance.controller.MainWindow" parent="abstractController" />

  <bean id="transactionAdder" class="ru.fess38.finance.controller.TransactionAdder" parent="abstractController" />

  <bean id="transferAdder" class="ru.fess38.finance.controller.TransferAdder" parent="abstractController" />

  <bean id="transactionWindow" class="ru.fess38.finance.controller.TransactionWindow" parent="abstractController" />

  <bean id="transactionEditor" class="ru.fess38.finance.controller.TransactionEditor" parent="abstractController" />

</beans>
