<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <import resource="classpath*:ru/fess38/finance/Dao.xml" />

  <bean id="abstractController" class="ru.fess38.finance.controller.AbstractController" abstract="true">
    <property name="rubricDao" ref="rubricDao" />
    <property name="accountDao" ref="accountDao" />
    <property name="userDao" ref="userDao" />
    <property name="transactionGroupDao" ref="transactionGroupDao" />
    <property name="transactionDao" ref="transactionDao" />
    <property name="currencyDao" ref="currencyDao" />
  </bean>

  <bean id="mainWindow" class="ru.fess38.finance.controller.MainWindowController" parent="abstractController">
    <property name="rubricController" ref="rubricController" />
    <property name="transactionGroupController" ref="transactionGroupController" />
    <property name="transactionController" ref="transactionController" />
    <property name="userController" ref="userController" />
    <property name="transactionAdderController" ref="transactionAdderController" />
  </bean>

  <bean id="rubricController" class="ru.fess38.finance.controller.RubricController" parent="abstractController" />
  <bean id="transactionGroupController" class="ru.fess38.finance.controller.TransactionGroupController" parent="abstractController" />
  <bean id="transactionController" class="ru.fess38.finance.controller.TransactionController" parent="abstractController">
    <property name="transferAdderController" ref="transferAdderController" />
  </bean>
  <bean id="transactionAdderController" class="ru.fess38.finance.controller.TransactionAdderController" parent="abstractController" />
  <bean id="transferAdderController" class="ru.fess38.finance.controller.TransferAdderController" parent="abstractController" />
  <bean id="userController" class="ru.fess38.finance.controller.UserController" parent="abstractController" />

</beans>
