<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-6">
    <table class="table table-noborder table-compact">
      <tr>
        <th (click)="stopEdit(); isEditing=true">
          <span>Член семьи</span>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </th>
      </tr>
      <tr *ngFor="let familyMember of familyMembers()" (click)="startEdit(familyMember)">
        <td>{{familyMember.name}}</td>
      </tr>
    </table>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isEditing" [clrModalClosable]="true" [clrModalSize]="'md'">
  <h3 class="modal-title" [hidden]="!isFamilyMemberAdding()">Добавить</h3>
  <h3 class="modal-title" [hidden]="isFamilyMemberAdding()">Редактировать</h3>
  <div class="modal-body">
    <alert></alert>
    <form #familyMemberForm="ngForm" (ngSubmit)="save(newFamilyMember)">
      <section class="form-block">
        <div class="form-group">
          <label for="name"
                 role="tooltip"
                 class="tooltip tooltip-validation"
                 [class.invalid]="name.invalid && (name.dirty || name.touched)">
            <input type="text"
                   id="name"
                   required
                   name="name"
                   [(ngModel)]="newFamilyMember.name"
                   (blur)="update(newFamilyMember)"
                   #name="ngModel"
                   placeholder="Имя">
          </label>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit"
            class="btn btn-primary btn-sm"
            (click)="save(newFamilyMember)"
            [disabled]="!familyMemberForm.form.valid"
            [hidden]="!isFamilyMemberAdding()">Сохранить
    </button>
    <button type="submit"
            class="btn btn-danger btn-sm"
            (click)="delete(newFamilyMember)"
            [disabled]="hasTransactions(newFamilyMember)"
            [hidden]="isFamilyMemberAdding()">Удалить
    </button>
  </div>
</clr-modal>

