<div class="container-fluid" ng-controller="tag">
  <div class="row">
    <div class="col-sm-8 col-md-4">
      <table class="table table-condense">
        <tr>
          <th>Тэг</th>
          <th ng-click="toogleObsolete()">Старый?</th>
          <th>Рубрика</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <input class="form-control" type="text" ng-model="newTag.name">
          </td>
          <td>
          </td>
          <td>
            <select ng-model="newTag.rubric" size="1" class="form-control"
                ng-options="rubric as rubric.name for rubric in rubrics | orderBy:['-isIncome', 'name']
              track by rubric.id">
            </select>
          </td>
          <td>
            <span class="close" ng-click="saveTag()">&plus;</span>
          </td>
        </tr>
        <tr ng-repeat="tag in tags | orderBy:['-rubric.isIncome', 'rubric.name', 'name']"
            ng-show="!tag.isObsolete || showObsolete">
          <td>
            <input class="form-control" type="text" ng-model="tag.name" ng-blur="updateTag(tag)">
          </td>
          <td>
            <input class="form-control" type="checkbox" ng-model="tag.isObsolete"
                ng-click="updateTag(tag)">
          </td>
          <td>
            <select ng-model="tag.rubric" size="1" class="form-control" ng-change="updateTag(tag)"
                ng-options="rubric as rubric.name for rubric in rubrics | orderBy:['-isIncome', 'name']
              track by rubric.id">
            </select>
          </td>
          <td>
            <span class="close" ng-click="deleteTag(tag)">&times;</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
